.header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.header__logo img {
  width: 170px;
  height: 140px;
}

.header__container {
  display: flex;
}
